# Environments
.env
.env.*
!.env.example

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Celery state files
celerybeat-schedule*

# Testy i logi
.pytest_cache/
pytestdebug.log
*.log

# Node / Frontend
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pliki IDE
.idea/
.vscode/

# Pliki systemowe
*.DS_Store
Thumbs.db

test.db
.coverage
