fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
python-dotenv
psycopg2-binary
passlib
bcrypt
python-jose[cryptography]
pydantic[email]
authlib
httpx
itsdangerous
celery[redis]
asgiref
pytest
pytest-asyncio
aiosmtplib
Jinja2
gevent
pydantic-settings
python-multipart
pytest-dotenv
aiosqlite
python-magic
slowapi
